DATABASE_URL=
 
# DATABASE_URL="postgresql://postgres.nvsextxpdzhmbykzzgzs:keodi.app.vn@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgresql://postgres.nvsextxpdzhmbykzzgzs:keodi.app.vn@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

KAFKA_BROKER=
 
SALT_ROUNDS=
 
JWT_SECRET=
 
GOOGLE_AUTH_PASSWORD_DEFAULT=
 
REDIS_HOST=
REDIS_PORT=
 
VERIFY_EMAIL_API=
RESEND_VERIFY_EMAIL_API=