KAFKA_BROKER=
 
DATABASE_URL=

BREVO_API_KEY=
BREVO_USER=
BREVO_SMTP_USER=
BREVO_HOST=
BREVO_PORT=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=